[submodule "library/src/main/java/com/sarang/torang/di/restaurant_gallery_di"]
	path = library/src/main/java/com/sarang/torang/di/restaurant_gallery_di
	url = https://github.com/sarang628/restaurant_gallery_di.git
